<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <meta charset="UTF-8">
    <title>File Management System - Folder Creation</title>
    <link rel="stylesheet" href="CSS/Style.css">
</head>
<body>
	<!-- Logout link -->
    <div class="logout">
        <a class="linkButton" href="Logout">Logout</a>
    </div>

    <!-- Back link -->
    <div class="back">
        <a class="linkButton" href="Home">Back</a>
    </div>
    
    <div class="container">
		<h2>FOLDER CREATION</h2>
		<form action="CreateFolder" method="POST">
		Name: <input type="text" name="name" pattern="^[a-zA-Z0-9]+( [a-zA-Z0-9]+)*$" placeholder="Only letters and numbers are allowed." required> <br>
		<br> Path location: <input type="text" name="folderpath" pattern="^[a-zA-Z0-9]+( [a-zA-Z0-9]+)*(\/[a-zA-Z0-9]+( [a-zA-Z0-9]+)*)*$" placeholder="Example: path/to/folder"> <br>
		<br> <input type="submit" value="Create">
		<p class="thymeleaf-outcome" th:text="${createFolderOutcome}"></p>
		</form>
		
		<!--  
		<h2>FOLDER DELETE</h2>
		DISABLE AUTOCOMMIT FOR THIS 
		<form action="DeleteFolder" method="POST">
		Name: <input type="text" name="name" pattern="^[a-zA-Z0-9]*$" title="Only letters and numbers are allowed." required> <br>
		<br> Path location: <input type="text" name="folderpath" pattern="" title="Example: path/to/folder or leave empty if root."> <br>
		<br> <input type="submit" value="Delete">
		<p class="thymeleaf-outcome" th:text="${deleteFolderOutcome}"></p>
		</form>
		-->
	</div>
</body>
</html>
