
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
<context-param>
<param-name>dbUrl</param-name>
<param-value>jdbc:mysql://localhost:3306/db_test?serverTimezone=UTC</param-value>
</context-param>
<context-param>
<param-name>dbUser</param-name>
<param-value>root</param-value>
</context-param>
<context-param>
<param-name>dbPassword</param-name>
<param-value>040520</param-value>
</context-param>
<context-param>
<param-name>dbDriver</param-name>
<param-value>com.mysql.cj.jdbc.Driver</param-value>
</context-param>
<welcome-file-list>
<welcome-file>index.html</welcome-file>
</welcome-file-list>
<servlet>
<servlet-name>Register</servlet-name>
<servlet-class>it.polimi.tiw.controllers.Register</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Register</servlet-name>
<url-pattern>/Register</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>Login</servlet-name>
<servlet-class>it.polimi.tiw.controllers.Login</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Login</servlet-name>
<url-pattern>/Login</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>ShowIndex</servlet-name>
<servlet-class>it.polimi.tiw.controllers.ShowIndex</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ShowIndex</servlet-name>
<url-pattern>/ShowIndex</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>ShowHome</servlet-name>
<servlet-class>it.polimi.tiw.controllers.ShowHome</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ShowHome</servlet-name>
<url-pattern>/Home</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>Logout</servlet-name>
<servlet-class>it.polimi.tiw.controllers.Logout</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Logout</servlet-name>
<url-pattern>/Logout</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>CreateFolder</servlet-name>
<servlet-class>it.polimi.tiw.controllers.CreateFolder</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>CreateFolder</servlet-name>
<url-pattern>/CreateFolder</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>CreateDocument</servlet-name>
<servlet-class>it.polimi.tiw.controllers.CreateDocument</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>CreateDocument</servlet-name>
<url-pattern>/CreateDocument</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>FolderManager</servlet-name>
<servlet-class>it.polimi.tiw.controllers.FolderManager</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>FolderManager</servlet-name>
<url-pattern>/FolderManager</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>DocumentManager</servlet-name>
<servlet-class>it.polimi.tiw.controllers.DocumentManager</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>DocumentManager</servlet-name>
<url-pattern>/DocumentManager</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>ShowFolderContent</servlet-name>
<servlet-class>it.polimi.tiw.controllers.ShowFolderContent</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ShowFolderContent</servlet-name>
<url-pattern>/ShowFolderContent</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>GetDocumentDetails</servlet-name>
<servlet-class>it.polimi.tiw.controllers.GetDocumentDetails</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>GetDocumentDetails</servlet-name>
<url-pattern>/DocumentDetails</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>AvailableFolders</servlet-name>
<servlet-class>it.polimi.tiw.controllers.AvailableFolders</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AvailableFolders</servlet-name>
<url-pattern>/AvailableFolders</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>MoveDocument</servlet-name>
<servlet-class>it.polimi.tiw.controllers.MoveDocument</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>MoveDocument</servlet-name>
<url-pattern>/MoveDocument</url-pattern>
</servlet-mapping>
</web-app>